@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family:"microsoft yahei";
	width: 100%;
}
/*头部样式开始*/
header{
	height: 60px;
}

/*头部容器样式*/
.wrap{
	height: 60px;
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}
/*容器图片样式*/
.logo img{
	float: left;
	width: 109px;
	height: 40px;
	margin-top: 10px;
}
nav{
	display: inline-block;
	position: relative;
	z-index: 1000;
}

/*导航栏样式*/
.wrap nav ul{
	height: 60px;
	line-height: 60px;
}
/*导航栏样式定位*/
.wrap nav ul li{
	float: left;
	margin-left: 50px;
	cursor: pointer;
}
.wrap nav ul li:hover{
	color: green;
}

.wrap nav ul li:nth-child(1) a{
	color: green;
}

.wrap nav ul li:nth-child(2):hover .school{
	display: block;
}

/*二级菜单样式*/
.school{
	position: absolute;
	top: 60px;
	height: 264px;
	width: 280px;
	background-color: white;
	font-size: 13px;
	color: #666;
	line-height: 46px;
	padding-left: 18px;
	display: none;
	border-top: 1px solid gainsboro;
	opacity: 1;
	animation: myfirst 0.8s ease normal;
	-moz-animation: myfirst 0.8s ease normal;
	-webkit-animation: myfirst 0.8s ease normal;
}
.school a{
	color: gray;
}
.school a:hover{
	color: #008000;
}
.school h4{
	background-color: #fafafa;
}

.school img{
	height: 13px;
	margin-right: 10px;
}
/*二级菜单显示动画*/
@keyframes myfirst {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes myfirst{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes myfirst{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes myfirst{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*二级菜单样式定位*/
.lesson{
	position: absolute;
	width: 280px;
	height: 260px;
	background-color: white;
	padding-left: 20px;
	display: none;
	border-top: 1px solid gainsboro;
	opacity: 1;
	animation: myfirst 0.8s ease normal;
	-moz-animation: myfirst 0.8s ease normal;
	-webkit-animation: myfirst 0.8s ease normal;
}

.wrap nav ul li:nth-child(3):hover .lesson{
	display: block;
}

/*二级菜单每一栏的样式*/
.lesson a{
	display: block;
	height: 40px;
	line-height: 65px;
	font-size: 14px;
	color: #666;
}
.lesson a:hover{
	color: #008000;
}
.lesson a span{
	float: right;
	height: 40px;
	margin-right: 15px;
}
/*二级菜单雪碧图的样式*/
.lesson i{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px!important;
	background: url(../img/allicon.png) 0 0 no-repeat;
	background-size: 64px 64px;
}
/*二级菜单雪碧图定位显示*/
.lesson .kck-icon{
	background-position: 0 -13px;
}
.lesson .zyljt-icon{
	background-position: -45px 0;
}
.lesson .zstxt-icon{
	background-position: -30px -13px;
}
/*二级菜单雪碧图的样式*/
.lesson .xlkc-icon{
	background-image: url(../img/xlkc2.png);
	background-position: 0 0;
	background-size: 12px 12px;
}
/*二级菜单雪碧图的定位显示*/
.lesson .kcbq-icon{
	background-position: -15px -13px;
}
.lesson .vip-icon{
	background-position: -16px 0;
}
.wrap nav ul li:nth-child(4):hover .sq-lesson{
	display: block;
}
/*二级菜单的样式定位*/
.sq-lesson{
	position: absolute;
	width: 280px;
	height: 180px;
	background-color: white;
	padding-left: 20px;
	display: none;
	border-top: 1px solid gainsboro;
	opacity: 1;
	animation: myfirst 0.8s ease normal;
	-moz-animation: myfirst 0.8s ease normal;
	-webkit-animation: myfirst 0.8s ease normal;
}

/*二级菜单每一栏的样式*/
.sq-lesson a{
	display: block;
	line-height: 45px;
	font-size: 14px;
	color: #666;
}
.sq-lesson a:hover{
	color: green;
}
/*二级菜单雪碧图的样式*/
.sq-lesson i{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px!important;
	background: url(../img/allicon.png) 0 0 no-repeat;
	background-size: 64px 64px;
}
/*二级菜单雪碧图定位显示*/
.sq-lesson  .jswd-icon{
	background-position: 0 -27px;
}
.sq-lesson .wiki-icon{
	background-position: -29px -27px;
}
.sq-lesson .sq-icon{
	background-position: 0 2px;
}
.sq-lesson .zyxz-icon{
	background-position: -30px 0;
}
/*二级菜单右边数字的定位*/
.sq-lesson span{
	float: right;
	margin-right: 15px;
}

/*头部右边用户的样式定位*/
user .icon-box{
	position: relative;
	z-index: 1000;
	float: right;
	width: 200px;
	height: 60px;
	padding-right: 10px;
	text-align: right;		
}
user .icon-box span{
	display: inline-block;
	width: 17px;
	height: 60px;
	margin-top: 22px;
	margin-left: 25px;
	line-height: 60px;
	cursor: pointer;	
}

user .icon-box .search-icon{
	background: url(../img/search-icon.png)0 0 no-repeat;
	background-size: 17px 17px;
}
user .icon-box .app-icon{
	background: url(../img/app-icon.png)0 0 no-repeat;
	background-size: 17px 17px;
}
user .icon-box .logo-icon{
	background: url(../img/login-icon.png)0 0 no-repeat;
	background-size: 17px 17px;
}
/*划过用户显示的图片*/
user .icon-box .search-icon:hover{
	background: url(../img/search-icon2.png)0 0 no-repeat;
	background-size: 17px 17px;
}
user .icon-box .app-icon:hover{
	background: url(../img/绿色极客APP下载.png)0 0 no-repeat;
	background-size: 17px 17px;
}

user .icon-box .app-icon:hover .jkappxz{
	display: block;
}
/*用户的二级菜单的样式定位*/
user .icon-box .jkappxz{
	position: absolute;
	top: 60px;
	right: 10px;
	display: none;
	border-top: 1px solid gainsboro;
	opacity: 1;
	animation: myfirst 0.8s ease normal;
	-moz-animation: myfirst 0.8s ease normal;
	-webkit-animation: myfirst 0.8s ease normal;
}

user .icon-box .jkappxz img{
	width: 120px;
	height: 100%;
}
/*二级菜单顶上的小图标的样式和变换*/
.jkappxz .top-icon{
	position: absolute;
	top: -8px;
	right: 50px;
	width: 15px;
	height: 15px;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	display: inline-block;
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
/*用户二级菜单的样式定位*/
user .icon-box .rt-list{
	position: absolute;
	top: 60px;
	right: 0px;
	width: 120px;
	height: 196px;
	background: white;
	display: none;
	border-top: 1px solid gainsboro;
	opacity: 1;
	animation: myfirst 0.8s ease normal;
	-moz-animation: myfirst 0.8s ease normal;
	-webkit-animation: myfirst 0.8s ease normal;
}

user .icon-box span:nth-child(3):hover .rt-list{
	display: block;
}
/*二级菜单的每一栏的样式*/
.rt-list dd{
	text-align: center;
	line-height: 50px;
	font-size: 13px;
	height: 36px;
	line-height: 58px;
}
.rt-list dd a{
	color: gray;
}
.rt-list dd a:hover{
	color: #008000;
}

/*二级菜单的雪碧图的样式*/
.rt-list dd i{
	display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background: url(../img/allicon2.png) 0 0 no-repeat;
    background-size: 64px 64px;
}
/*二级菜单的定位显示*/
.rt-list .xxzx-icon{
    background-position: -16px -15px;
}
.rt-list .grzy-icon{
	background-position: -45px -1px
}
.rt-list .xxtz-icon{
	background-position: -16px -30px
}
.rt-list .zhsz-icon{
	background-position: -30px -1px
}

/*二级菜单顶上的小图标的变换与定位和样式*/
.rt-list .top-icon{
	display: block;
	position: absolute;
	top: -8px;
	right: 10px;
	width: 15px;
	height: 15px;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	display: inline-block;
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
/*导航栏旁边的小图标的样式与变换*/
.icon{
	width: 8px;
	height: 8px;
	margin-left: 5px;
	margin-bottom: 2px;
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	display: inline-block;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform-origin: 4px 4px;
}
/*划过导航栏旁边小图标显示的变换与动画*/
.wrap nav li:hover i.icon {
	margin-bottom: -2px;
	border-top: 1px solid #35b558;
	border-left: 1px solid #35b558;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	animation: rotate 1s ease normal;
	-moz-animation: rotate 1s ease normal;
	-webkit-animation: rotate 1s ease normal;
}
/*导航栏旁边的小图标的动画*/
@keyframes rotate {
	0% {
		margin-bottom: 2px;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
	}
	10% {
		margin-bottom: -2px;
	}
	100% {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
}
/*头部导航栏结束*/

/*内容部分开始*/
#pager{
	width: 100%;
	height: 2859px;
	background: gainsboro;
}
/*极客横幅的样式*/
.jkbanner{
	position: relative;
	height: 525px;
	min-width: 1000px;
	box-sizing: border-box;
    text-align: center;
    background: url(../img/sp_56c863c.jpg) no-repeat center / 1920px 540px;
}
/*视频容器的样式*/
.jkbanner .vediocontainer{
	position:relative;
	display: inline-block;
    width: 100%;
    height: 525px;
    overflow: hidden;   
}
/*视频的定位*/
.jkbanner .vediocontainer .index-video{
	position:absolute;
    left: 50%;
    margin-left: -960px;
}
/*视频表层容器的样式与定位*/
.jkbanner .bannerinfo{
	position: absolute;
	top: 0;
	width: 100%;
	height: 525px;	
}
/*标题样式与定位*/
.bannerinfo h1{
	font-size: 35px;
	color: white;
	margin-top: 45px;
	margin-bottom: 20px;
}
/*P标签的样式*/
.bannerinfo p{
	font-size: 13px;
	color: #FAFAFA;
	line-height: 21px;
}
/*下载容器的定位*/
.bannerinfo .bannerdownload{
	height: 44px;
    margin-top: 48px;
}
/*下载容器a标签的样式*/
.jkbanner .bannerdownload a{
	display: inline-block;
	width: 141px;
	height: 44px;
	margin:0 20px;
}
/*划过下载显示的背景色*/
.jkbanner .bannerdownload a:hover{
	background-color:dimgray;
}
/*安卓下载的背景图片*/
.bannerinfo .bannerdownload .androiddownload{
	background: url(../img/anddown_92313c1.png) no-repeat center / 141px 44px;
}
/*苹果下载的背景图片*/
.bannerinfo .bannerdownload .iosdownload{
	background: url(../img/iosdown_0813309.png) no-repeat center / 141px 44px;
}
/*span标签的定位于样式*/
.bannerinfo span{
	display: block;
	margin-top: 45px;
	font-size: 12px;
	color: #FAFAFA;	
}
/*登录图标容器的样式定位*/
.bannerinfo .bannerstatus{
	height: 38px;
	margin-top: 15px;
}
/*登录图标的样式与定位*/
.bannerinfo .bannerstatus a{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 20px;
}
/*微信登录图片*/
.bannerinfo .bannerstatus .wechatlogin{
	background: url(../img/weixinlogin_204d5be.png) no-repeat center / 38px 38px;
	-webkit-transition: .5s ease-in;
}
/*QQ登录图片*/
.bannerinfo .bannerstatus .qqlogin{
	background: url(../img/qqlogin_43fbf38.png) no-repeat center / 38px 38px;
	-webkit-transition: .5s ease-in;
}
/*微博登录图片*/
.bannerinfo .bannerstatus .weibologin{
	background: url(../img/weibologin_7cb8c71.png) no-repeat center / 38px 38px;
	-webkit-transition: .5s ease-in;
}
/*手机登录图片*/
.bannerinfo .bannerstatus .phonelogin{
	background: url(../img/phonelogin_39c73f9.png) no-repeat center / 38px 38px;
	-webkit-transition: .5s ease-in;
}
/*划过微信显示的hover图片*/
.bannerinfo .bannerstatus .wechatlogin:hover{
	background: url(../img/weixinloginhover_acca8e3.png) no-repeat center / 38px 38px;
}
/*划过QQ显示的hover图片*/
.bannerinfo .bannerstatus .qqlogin:hover{
	background: url(../img/qqloginhover_fd0f74b.png) no-repeat center / 38px 38px;
}
/*划过微博显示的hover图片*/
.bannerinfo .bannerstatus .weibologin:hover{
	background: url(../img/weibologinhover_0c48361.png) no-repeat center / 38px 38px;
}
/*划过手机显示的hover图片*/
.bannerinfo .bannerstatus .phonelogin:hover{
	background: url(../img/phoneloginhover_d5ddac1.png) no-repeat center / 38px 38px;
}
/*上面三个白框的样式与定位*/
.bannercard{
	position: relative;
	top: 36px;
	height: 240px;
	width: 1000px;
	margin: 0 auto;
}
/*第一个白框的样式与定位*/
.collegecard{
	float: left;
	height: 240px;
	width: 320px;
	background: white;	
}
.bannercard .cardinfo{
	height: 130px;
	background: #f9f9f9;
}
/*span标签的样式定位*/
.bannercard .cardinfo span{
	display: block;
	height: 50px;
	margin-top: 0;
	font-size: 18px;
	color: #333;
	line-height: 50px;	
}
/*p标签的样式*/
.bannercard  p{
	height: 80px;
    padding: 10px 17px;
    text-align: left;
    font-size: 13px;
    color: #444;
    line-height: 21px;
    border-top: 1px solid #eee;
}
.bannercard .collegecard .collegeclass{
	height: 110px;
	padding: 17px 10px;
}
.bannercard .collegecard .collegeclass ul{
	height: 100%;
}
/*li标签的样式定位*/
.bannercard .collegecard .collegeclass ul li{
	float: left;
	height: 100%;
	width: 25%;
	font-size: 12px;
    color: #666;
    text-align: center;
}
/*a标签的样式*/
.bannercard .collegecard .collegeclass ul li a{
	display: block;
	height: 100%;
	width: 100%;	
}
/*图片的div的样式*/
.bannercard .collegecard .collegeclass ul li div{
	display: inline-block;
	height: 50px;
	width: 50px;
	border: 1px solid #eee;
	border-radius: 50%;
	-webkit-transition: border .5s;
}
/*span标签的样式定位*/
.bannercard .collegecard .collegeclass ul li span{
	display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #666;
   -webkit-transition: color .5s; 
}
/*划过文字显示的颜色*/
.bannercard .collegecard .collegeclass ul li:hover span{
	color: #35b558;
}

/*划过图片显示边框的颜色*/
.bannercard .collegecard .collegeclass ul li:hover .webcard{
	border-color: red;
}
.bannercard .collegecard .collegeclass ul li:hover .pythoncard{
	border-color: orange;
}
.bannercard .collegecard .collegeclass ul li:hover .gocard{
	border-color: aqua;
}
.bannercard .collegecard .collegeclass ul li:hover .ioscard{
	border-color: gray;
}
/*第一个框的图片*/
.bannercard .collegecard .collegeclass ul li a .webcard{
	background: url(../img/cardhtml5_c4de6b8.jpg) no-repeat center / 26px 35px;
}
.bannercard .collegecard .collegeclass ul li a .pythoncard{
	background: url(../img/cardpython_46dafa5.png) no-repeat center / 35px 35px;
}
.bannercard .collegecard .collegeclass ul li a .gocard{
	background: url(../img/cardgo_f7d5603.png) no-repeat center / 25px 35px;
}
.bannercard .collegecard .collegeclass ul li a .ioscard{
	background: url(../img/cardios_1b210b7.jpg) no-repeat center / 30px 35px;
}
/*第二个白框的样式*/
.librarycard{
	float: left;
	height: 240px;
	width: 320px;
	margin: 0 20px;
	background: white;
}
.librarycard .cardinfo{
	background: #F9F9F9;
	height: 130px;
}
.bannercard .librarycard .libraryclass{
	height: 110px;
	padding: 17px 10px;
}

/*第二个白框li标签样式定位*/
.bannercard .librarycard .libraryclass ul li{
	float: left;
	width: 50%;
	height: 100%;
	font-size: 12px;
    color: #666;
    text-align: center;
}
/*a标签样式*/
.bannercard .librarycard .libraryclass ul li a{
	width: 100%;
	height: 100%;
}
/*div的样式定位*/
.bannercard .librarycard .libraryclass div{
	display: inline-block;
    width: 100%;
    padding-top: 35px;
    font-size: 13px;
    color: #444;
}
.bannercard .librarycard .libraryclass li :hover .videocard{
    color: #008000;
    background: url(../img/cardvideohover_a616ae2.png) no-repeat top center / 30px 30px;
}
.bannercard .librarycard .libraryclass li :hover .wikicard{
	color: #008000;
	background: url(../img/cardwikihover_6974141.png) no-repeat top center / 25px 26px;
}
.bannercard .librarycard .libraryclass ul li a .videocard{
	background: url(../img/cardvideo_744765b.jpg) no-repeat top center / 30px 30px;
}
.bannercard .librarycard .libraryclass span{
	display: block;
	margin-top: 8px;
	color: #666;
	font-size: 12px;
}
.bannercard .librarycard .libraryclass ul li a .wikicard{
	background: url(../img/cardwiki_5eaea4b.jpg) no-repeat top center / 25px 26px;
}
/*第三个白框的样式*/
.communitycard{
	float: left;
	height: 240px;
	width: 320px;
	background: white;
}
.communityclass{
	height: 110px;
	width: 100%;
	padding: 17px 10px;
}

/*第三个白框li标签的样式定位*/
.communitycard .communityclass ul li{
	float: left;
	width: 33.33%;
	height: 100%;
	font-size: 12px;
	color: #666;
	text-align: center;
}
/*div的样式定位*/
.communitycard .communityclass ul li div{
	width: 100%;
	padding-top: 35px;
    font-size: 13px;
    color: #444;
}
.communityclass span{
	display: block;
    margin-top: 8px;
	color: #666;
	font-size: 12px;
}
/*li标签里面的图片*/
.communitycard .communityclass ul li .xuecard{
	background: url(../img/cardxue_99b0a45.jpg) no-repeat top center / 33px 28px;
}
.communitycard .communityclass ul li .jiaocard{
	background: url(../img/cardjiao_d70bff6.jpg) no-repeat top center/36px 27px;
}
.communitycard .communityclass ul li .bucard{
	background: url(../img/cardbu_1d16287.jpg) no-repeat top center/22px 30px;
}
/*就业学习栏样式定位*/
.jkjiuye{
	position: relative;
	width: 1000px;
    height: 330px;
    margin: 0 auto;
    margin-top: 140px;
    box-sizing: border-box;
}
.jkjiuye ul{
	width: 100%;
	height: 100%;
}
/*li标签定位*/
.jkjiuye ul li{
	float: left;
    background: #fff;
}
/*左边栏样式*/
.h2container{
	width: 230px;
    height: 330px;
    background: white;
}
/*h2标签样式定位*/
.h2container h2{
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 19px;
    border-left: 2px solid #35b558;
}
.h2container .h2text{
	height: 20px;
    padding-left: 17px;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
/*p标签意思定位*/
.h2container p{
	font-size: 12px;
    color: #666;
    line-height: 22px;
    padding-left: 17px;
}
/*图片样式*/
.h2container .h2img{
	text-align: center;
    height: 155px;
}
/*图片样式*/
.h2container .h2img img{
	width: 120px;
    height: 88px;
    margin-top: 38px;
}
/*span标签样式定位*/
.h2container span{
	display: block;
	width: 62px;
    height: 18px;
    margin-left: 17px;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #eee;
    line-height: 16px;
    border-radius: 2px;
    color: gray;
    vertical-align: middle;
    overflow: hidden;
}
.jkjiuye ul .h2container span:before{
	background: #35b558 url(../img/h2icon_a96e146.png) no-repeat center/15px 14px
}
section .h2container span:before{
	content: '适用于';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #2d85ca url(../img/h2icon_a96e146.png) no-repeat center / 15px 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 4px;
}
/*第二三个li标签样式定位*/
.jkjiuye ul li:nth-child(2),.jkjiuye ul li:nth-child(3){
	width: 371px;
    height: 180px;
    margin-bottom: 14px;
    margin-left: 14px;
} 
/*第四五六个li标签样式定位*/
.jkjiuye ul li:nth-child(4),.jkjiuye ul li:nth-child(5),.jkjiuye ul li:nth-child(6){
	width: 243px;
    height: 135px;
    margin-left: 13.5px;
}
.jkjiuye ul li a{
	display: block;
    height: 100%;
}
.jkjiuye ul li img{
	width: 100%;
    height: 100%;
}

/*基础学习栏样式定位*/
.jkbase{
	position: relative;
	height: 330px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    box-sizing: border-box;
}
/*ul标签的样式*/
.jkbase ul{
	width: 100%;
	height: 100%;
}
/*li标签定位*/
.jkbase ul li{
	float: left;
    background: #fff;
}
.jkbase .h2container h2{
	border-left: 2px solid dodgerblue;
}

/*第二三四个li标签定位*/
.jkbase ul li:nth-child(2),.jkbase ul li:nth-child(3),.jkbase ul li:nth-child(4){
	    margin-bottom: 14px;
}

/*第二三五六个li标签的样式*/
.jkbase ul li:nth-child(2),.jkbase ul li:nth-child(3),.jkbase ul li:nth-child(5),.jkbase ul li:nth-child(6){
	width: 243px;
	height: 158px;
}
/*第四七个li标签的样式*/
.jkbase ul li:nth-child(4),.jkbase ul li:nth-child(7){
	width: 242px;
	height: 158px;
}
/*第二三四个li标签的定位*/
.jkbase ul li:nth-child(2),.jkbase ul li:nth-child(3),.jkbase ul li:nth-child(4){
	margin-left: 14px;
}
/*第五六七个li标签的定位*/
.jkbase ul li:nth-child(5),.jkbase ul li:nth-child(6),.jkbase ul li:nth-child(7){
	margin-left: 14px;
}
.jkbase ul li a{
	display: block;
    height: 100%;
}
/*图片的样式*/
.jkbase ul li img{
    width: 100%;
    height: 100%;
}
/*专项提高栏样式定位*/
.jksku{
	box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    height: 330px;
    position: relative;
}
.jksku .h2container h2{
	border-left: 2px solid orangered;
}
/*ul标签样式*/
.jksku ul{
	width: 100%;
	height: 100%;
}
/*li标签定位*/
.jksku ul li{
	float: left;
}
/*第二三四五个li标签的样式*/
.jksku ul li:nth-child(2),.jksku ul li:nth-child(3),.jksku ul li:nth-child(4),.jksku ul li:nth-child(5){
	width: 371px;
	height: 158px;
}
/*图片样式*/
.jksku ul li img{
	width: 100%;
	height: 100%;
}
/*第二三个li标签定位*/
.jksku ul li:nth-child(2),.jksku ul li:nth-child(3){
	margin-left: 14px;
	margin-bottom: 14px;
}
/*第四五个li标签定位*/
.jksku ul li:nth-child(4),.jksku ul li:nth-child(5){
	margin-left: 14px;
}
/*我是技术大咖栏的样式定位*/
.jkdk{
	position: relative;
	height: 158px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    box-sizing: border-box;
}
/*ul标签的样式*/
.jkdk ul{
	width: 100%;
	height: 100%;
}
/*内容样式*/
.jkdk ul .h2container{
    width: 230px;
    height: 158px;
    background: #fff;
    box-sizing: border-box;
}
/*h2标签左边框样式*/
.jkdk ul .h2container h2{
	border-left: 2px solid brown;
}
/*图片样式*/
.jkdk ul .h2container .h2img{
	height: 88px;
}
/*图片样式定位*/
.jkdk ul .h2container .h2img img{
	width: 105px;
    height: 72px;
    margin-top: 17px;
}
/*第二三个li标签的样式定位*/
.jkdk ul li:nth-child(2),.jkdk ul li:nth-child(3){
	width: 371px;
	height: 158px;
	margin-left: 14px;
}
/*li标签定位*/
.jkdk ul li{
	float: left;
}
/*弹琵琶样式*/
.jkdk ul li img{
	width: 100%;
	height: 100%;
}
/*我是纯小白栏的样式定位*/
.jkbai{
	position: relative;
	height: 158px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    box-sizing: border-box;
}
/*ul标签样式*/
.jkbai ul{
	width:100%;
	height: 100%;
}
/*h2容器的样式*/
.jkbai ul .h2container{
    width: 230px;
    height: 158px;
    background: #fff;
    text-align: left;
}
/*li标签的定位样式*/
.jkbai ul li{
	float: left;
    width: 243px;
    height: 158px;
    background: #fff;
    text-align: center;
}
/*h2左边边框样式*/
.jkbai ul .h2container h2{
	border-left: 2px solid #35b558;
}
/*图片容器高度*/
.jkbai ul .h2container .h2img{
	height: 88px;
}
/*图片定位样式*/
.jkbai ul .h2container .h2img img{
	width: 95px;
    height: 72px;
    margin-top: 17px;
}
/*第二三个li标签的样式*/
.jkbai ul li:nth-child(2),.jkbai ul li:nth-child(3){
	width: 243px;
	height: 158px;
}
/*第四个li标签的样式*/
.jkbai ul li:nth-child(4){
	width: 242px;
	height: 158px;
}
/*第二三四个li标签定位*/
.jkbai ul li:nth-child(2),.jkbai ul li:nth-child(3),.jkbai ul li:nth-child(4){
	margin-left: 14px;
}
/*图片容器样式定位*/
.jkbai ul li .baiimg{
	display: block;
    height: 55px;
    margin-top: 30px;
}
/*a标签样式*/

/*图片样式*/
.jkbai ul li:nth-child(2) img{
	width: 41px;
    height: 55px;
}
/*span标签样式定位*/
.jkbai ul li span{
	display: block;
    font-size: 18px;
    color: #333;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
}
/*p标签样式定位*/
.jkbai ul li p{
	font-size: 12px;
    color: #666;
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
}
/*第三个li标签图片的样式*/
.jkbai ul li:nth-child(3) img{
	width: 55px;
	height: 48px;
}
/*第四个li标签图片样式*/
.jkbai ul li:last-child img{
	width: 55px;
	height: 55px;
}
/*他们的故事栏样式定位*/
.jkstudent{
	position: relative;
	height: 500px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    box-sizing: border-box;
}
/*ul标签样式*/
.jkstudent ul{
	width: 100%;
	height: 100%;
}
/*h2容器样式*/
.jkstudent ul .h2container{
	text-align: left;
    width: 230px;
    height: 500px;
    background: #fff;
}
/*li标签定位样式*/
.jkstudent ul li{
	float: left;
	background: #ccc;
    width: 56px;
    height: 56px;
    margin-right: 14px;
    margin-bottom: 14px;
}
/*h2容器里li标签定位*/
.jkstudent ul .h2container ul{
	padding-left: 15px;
    padding-top: 10px;
    width: 100%;  
}
/*二级li标签定位样式*/
.jkstudent ul .h2container ul li{
	float: left;
    width: 56px;
    height: 56px;
    background: #ccc;
    margin-right: 14px;
    margin-bottom: 14px;
}
/*图片样式*/
.jkstudent ul .h2container ul li a img{
	width: 100%;
    height: 100%;
}
/*第二三五六个li标签样式*/
.jkstudent ul li:nth-child(2),.jkstudent ul li:nth-child(3),
.jkstudent ul li:nth-child(5),.jkstudent ul li:nth-child(6){
	background: #fff;
    width: 243px;
    height: 243px;
    text-align: center;
}
/*第四七个li标签样式*/
.jkstudent ul li:nth-child(4),.jkstudent ul li:nth-child(7){
	background: #fff;
    width: 242px;
    height: 243px;
    text-align: center;
    margin-right: 0;
}

/*头像标签样式定位*/
.jkstudent>ul>li .s-pic{
	width: 60px;
    height: 60px;
    margin-top: 30px;
}
/*名字标签样式定位*/
.jkstudent>ul>li .s-name{
	font-size: 16px;
    color: #666;
    margin-top: 10px;
}
/*工作标签样式定位*/
.jkstudent>ul>li .s-job{
	font-size: 12px;
    color: gray;
    margin-top: 10px;
}
/*已入职标签样式定位*/
.jkstudent>ul>li .s-status{
	font-size: 12px;
    color: gray;
    margin-top: 35px;
}
/*图片样式定位*/
.jkstudent>ul>li .s-comp{
	margin-top: 5px;
    height: 20px;
}
/*让每个人栏样式定位*/
.jkorganization{
	position: relative;
	width: 1000px;
	height: 158px;
    margin: 0 auto;
    margin-top: 30px;
}
/*ul标签样式*/
.jkorganization ul{
	width: 100%;
	height: 100%;
}
/*h2容器样式*/
.jkorganization ul .h2container{
	width: 230px;
    height: 158px;
    background: #fff;
    text-align: left;
}
/*h2标题左边框样式*/
.jkorganization ul .h2container h2{
	border-left: 2px solid saddlebrown;
}
/*li标签样式定位*/
.jkorganization ul li{
	float: left;
	margin-right: 14px;
	background: #fff;
	width: 243px;
    height: 158px;
    text-align: center;
}
/*最后一个li标签样式定位*/
.jkorganization ul li:last-child{
	width: 242px;
	height: 158px;
	margin-right: 0;
}

/*图片容器样式定位*/
.jkorganization ul>li .baiimg{
	height: 55px;
    margin-top: 30px;
}
/*图片样式*/
.jkorganization ul>li img{
	width: 55px;
    height: 48px;
}
/*span标签样式定位*/
.jkorganization ul>li span{
	font-size: 18px;
    color: #333;
    display: block;
    margin-top: 10px;
}
/*p标签样式定位*/
.jkorganization ul>li p{
	font-size: 12px;
    color: #666;
    margin-top: 5px;
}
/*页脚样式*/
.footer{
	min-width: 1000px;
	border-top: 1px solid #e4e4e4;
    background: #fff;
}
/*容器定位样式*/
.jkinfo-block .jkinfo{
	position: relative;
    width: 776px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
}
/*logo定位样式*/
.jkinfo-block .jkinfo .jk-logo{
	position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}
/*图片样式*/
.jkinfo-block .jkinfo .jk-logo img{
	width: 109px;
    height: 40px;
    display: block;
}
/*p标签样式定位*/
.jkinfo-block .jkinfo .jk-logo p{
	font-size: 12px;
    color: #999;
    margin-top: 20px;
}
/*dl样式定位*/
.jkinfo dl{
	width: 135px;
    color: #808080;
    float: left;
}
/*dl标题样式*/
.jkinfo dl dt{
	font-size: 14px;
    line-height: 30px;
}
/*dd标签样式*/
.jkinfo dl dd{
	font-size: 12px;
    line-height: 30px;
}
.jkinfo dl dd a:hover{
	color: #008000;
}
/*a标签样式*/
.jkinfo dl dd a{
	color: #999999;
}
/*服务热线内容样式定位*/
.footer .jk-down{
	position: absolute;
    right: 0;
    top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}
.footer .jk-down .hot-tel{
	color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer .jk-down .down-ios{
	background: url(../img/icon-down-ios.png) no-repeat 0 0;
	background-size: 30px 30px;
}
.footer .jk-down .down-and{
	background: url(../img/icon-down-and.png) no-repeat 0 0;
	background-size: 30px 30px;
}
/*苹果安卓字体样式定位*/
.footer .jk-down .downcon{
	position: relative;
    display: inline-block;
    width: 86px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}
/*二级菜单图片样式定位*/
.footer .jk-down .downcon img{
	position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
	width: 115px;
    height: 153px;
}
.footer .jk-down .downcon:hover img{
	display: block;
}
/*最下面字体样式定位*/
.footer .copyright{
	font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}
.footer .copyright strong{
	font-weight: 800;
}
.footer .copyright a{
	color: #999;
}
.footer .copyright strong a:hover{
	color: #008000;
}
/*新浪图片样式定位*/
.footer .copyright a.down-sina{
	background: url(../img/icon-down-sina.png) no-repeat ;
	background-size: 20px 15px;
	height: 15px;
    width: 20px;
    float: right;
    margin-right: 10px;
}
/*微信图片样式定位*/
.footer .copyright a.down-wechat{
	float: right;
    height: 15px;
    width: 20px;
    background: url(../img/icon-down-wechat.png) no-repeat;
    background-size: 18px 15px;
}
.gotop{
	position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}
.gotop .top{
	width: 34px;
    height: 34px;
    display: block;
    background: url(../img/gotop.jpg) no-repeat;
	background-size: 34px 103px;
}
.gotop span .top:hover{
	background: url(../img/gotop2.jpg);
	background-size: 34px 103px;
    width: 34px;
    height: 34px;
}
.gotop span .jk-app{
	position: relative;
    display: block;
    background: #f7f7f7 url(../img/phone-1.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
/*二级菜单*/
.appewm{
	position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
	width: 126px;
    height: 159px;
    background: url(../img/appewm.png) center center no-repeat;
    background-size: 100%;
}
.diaocha{
	position: relative;
    display: block;
	width: 34px;
    height: 34px;
    background: url(../img/icon-down-wechat.png) no-repeat;
}
.gotop .kefu{
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/kfu1.png) center center no-repeat;
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
}
/*二级菜单*/
.gotop .kefu .kf{
    position: absolute;
    left: -190px;
    display: none;
    width: 180px;
    padding: 5px;
    color: #333;
    font-size: 12px;
    text-align: center;
    background: #f7f7f7;
}
