
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473507299'); /* IE9*/
  src: url('iconfont.eot?t=1473507299#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473507299') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473507299') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473507299#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-hot:before { content: "\e633"; }
.icon-dianying:before { content: "\e616"; }
.icon-waimai1:before { content: "\e664"; }
.icon-dache:before { content: "\e6d5"; }
.icon-jiudian:before { content: "\e62f"; }
.icon-iconfontmeishi:before { content: "\e642"; }
.icon-ktv:before { content: "\e614"; }
.icon-chongzhi:before { content: "\e618"; }
.icon-xinwen:before { content: "\e609"; }
.icon-xiaoshuo:before { content: "\e6c7"; }
.icon-shipin:before { content: "\e606"; }
.icon-ditu:before { content: "\e611"; }
.icon-xiangshangjiantou:before { content: "\e621"; }
.icon-tieba:before { content: "\e6ad"; }
.icon-yingyong:before { content: "\e619"; }
.icon-tupian:before { content: "\3463"; }
.icon-wangzhibiaozhi:before { content: "\e611"; }
.icon-yinle:before { content: "\e620"; }
.icon-dingwei:before { content: "\e693"; }
.icon-nuo:before { content: "\e602"; }
.icon-diqiu:before { content: "\3439"; }
